<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone.js Library</title>
  <link rel="stylesheet" href="css/concise.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">
  <header class="siteHeader clearfix">
    <h1 class="logo"><a href="#">Backbone Bookstore</a></h1>
    <nav class="nav">
      <li><a href="#" id="addBookBtn" class="btn bg-blue">Add Book +</a></li>
    </nav>
  </header>
  <!-- <hr> -->
</div>

<div id="books">

  <form id="addBook" class="form-inline" action="#">
    <div class="well">

      <div class="form-item">
        <label for="coverImage">Cover Image: </label>
        <input id="coverImage" type="file">
      </div>

      <div class="form-item">
        <label for="title">Title: </label>
        <input id="title" type="text">
      </div>

      <div class="form-item">
        <label for="author">Author: </label>
        <input id="author" type="text">
      </div>

      <div class="form-item">
        <label for="releaseDate">Release Date: </label>
        <input id="releaseDate" type="text">
      </div>

      <div class="form-item">
        <label for="keywords">Keywords: </label>
        <input id="keywords" type="text">
      </div>

      <hr>

      <button id="add" class="btn">Submit</button>
    </div> <!-- end well -->
  </form>


</div> <!-- end #books -->


<!-- Templates -->
<script id="bookTemplate" type="text/template">
    <img src="<%= coverImage %>">
    <ul>
      <li><%= title %></li>
      <li><%= author %></li>
      <li><%= releaseDate %></li>
      <li><%= keywords %></li>
    </ul>
    <button class="btn btn-small bg-red delete">Delete</button>
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
<script src="js/effects.js"></script>
<script src="js/models/book.js"></script>
<script src="js/collections/library.js"></script>
<script src="js/views/book.js"></script>
<script src="js/views/library.js"></script>
<script src="js/app.js"></script>
</body>
</html>