
#books {
  width: 1140px;
  margin: 2em auto;
}

.siteHeader {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.8em;
}

.logo {
  font-size: 1.6em;
  float: left;
  margin-top: 0.85em;
  margin-bottom: 0px;
}
.logo a {
  text-decoration: none;
}

.nav {
  float: right;
  margin-top: 1.4em;
}
.nav li {
  display: inline-block;
  margin-left: 2em;
}

.nav li a {
  text-decoration: none;
  color: #fff;
}

.well {
  width: 60%;
  background-color: #f7f7f7;
  border: 2px solid #ddd;
  padding: 2em 8em;
  border-radius: 4px;
}

.form-item input {
  border-radius: 4px;
}

label {
  font-size: 0.8em;
}

#addBook {
  display: none;
  margin-bottom: 2em;
}

#add {
  border: 1px solid #aaa;
  color: #fff;
}
#add:hover {
  color: #fff;
  background-color: #31b0d5;
}

.bookContainer {
  position: relative;
  border: 1px solid #ddd;
  width: 49.1%;
  height: 180px;
  background-color: #fff;
  float: left;
  margin: 5px;
}

.bookContainer img {
  float: left;
  margin: 20px 36px;
}

.bookContainer ul {
  list-style-type: none;
  margin-bottom: 0;
}

.delete {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 6px;
}

button.delete {
  color: #fff;
  opacity: 0.8;
}
button.delete:hover {
  opacity: 1.0;
}