
.well {
  width: 60%;
  margin: 1.6em 0;
  background-color: #f7f7f7;
  padding: 4em 2em;
  border-radius: 4px;
}

.siteHeader {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.6em;
}

.logo {
  font-size: 1.6em;
  float: left;
  margin-top: 0.85em;
  margin-bottom: 0px;
}
.logo a {
  text-decoration: none;
}

.nav {
  float: right;
  margin-top: 1.4em;
}
.nav li {
  display: inline-block;
  margin-left: 2em;
}

.nav li a {
  text-decoration: none;
  color: #fff;
}

.form-item input {
  border-radius: 4px;
}

.bookContainer {
  position: relative;
  border: 1px solid #eee;
  width: 48%;
  height: 180px;
  background-color: #fff;
  float: left;
  margin: 5px;
}

.bookContainer img {
  float: left;
  margin: 20px 36px;
}

.bookContainer ul {
  list-style-type: none;
  margin-bottom: 0;
}

#books {
  width: 1140px;
  margin: 0 auto;
}

.delete {
  position: absolute;
  bottom: 0;
  right: 0;
}

a.delete {
  color: #fff;
  opacity: 0.8;
}
a.delete:hover {
  opacity: 1.0;
}